USE [QuanLyTrungTam]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [nvarchar](20) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[HocPhiLop] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaHV] [nvarchar](20) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[Diem15p1] [float] NULL,
	[Diem15p2] [float] NULL,
	[DiemGiuaKy] [float] NULL,
	[DiemCuoiKy] [float] NULL,
	[DiemTongKet]  AS (CONVERT([decimal](4,2),((isnull([Diem15p1],(0))+isnull([DiemGiuaKy],(0))*(2))+isnull([DiemCuoiKy],(0))*(3))/(6.0))),
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[MaHV] [nvarchar](20) NOT NULL,
	[NgayDiemDanh] [date] NOT NULL,
	[CoMat] [bit] NULL,
	[LyDo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichTaiChinh]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichTaiChinh](
	[IdGD] [int] IDENTITY(1,1) NOT NULL,
	[LoaiGD] [nvarchar](50) NULL,
	[MaDoiTuong] [nvarchar](100) NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[NgayGD] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[MaHV] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayGiaNhap] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyNang]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNang](
	[MaKyNang] [nvarchar](20) NOT NULL,
	[TenKyNang] [nvarchar](100) NOT NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[SoBuoi] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[HocPhi]  AS ([SoBuoi]*[DonGia]),
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [nvarchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKyNang] [nvarchar](20) NOT NULL,
	[MaGiaoVien] [nvarchar](20) NULL,
	[MaTroGiang] [nvarchar](20) NULL,
	[MaPhong] [nvarchar](20) NULL,
	[Thu] [nvarchar](50) NULL,
	[CaHoc] [nvarchar](50) NULL,
	[SiSoToiDa] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanSu]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanSu](
	[MaNS] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[LoaiNS] [nvarchar](50) NULL,
	[ChuyenNganh] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[Quyen] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TenHienThi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 12/31/2025 7:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [nvarchar](50) NOT NULL,
	[SoTienDong] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayDong] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DangKy] ON 

INSERT [dbo].[DangKy] ([MaDangKy], [MaHV], [MaLop], [NgayDangKy], [HocPhiLop], [TrangThai]) VALUES (13, N'HV02', N'LTH0101', CAST(N'2025-12-26T00:00:00.000' AS DateTime), CAST(22500000 AS Decimal(18, 0)), N'Đang học')
INSERT [dbo].[DangKy] ([MaDangKy], [MaHV], [MaLop], [NgayDangKy], [HocPhiLop], [TrangThai]) VALUES (14, N'HV03', N'LTA0101', CAST(N'2025-12-28T00:00:00.000' AS DateTime), CAST(72000000 AS Decimal(18, 0)), N'Đang học')
INSERT [dbo].[DangKy] ([MaDangKy], [MaHV], [MaLop], [NgayDangKy], [HocPhiLop], [TrangThai]) VALUES (16, N'HV01', N'LGT0101', CAST(N'2025-12-28T00:00:00.000' AS DateTime), CAST(4000000 AS Decimal(18, 0)), N'Đang học')
SET IDENTITY_INSERT [dbo].[DangKy] OFF
GO
INSERT [dbo].[Diem] ([MaHV], [MaLop], [Diem15p1], [Diem15p2], [DiemGiuaKy], [DiemCuoiKy], [GhiChu]) VALUES (N'HV01', N'LTA0101', 0, 0, 0, 0, N'')
INSERT [dbo].[Diem] ([MaHV], [MaLop], [Diem15p1], [Diem15p2], [DiemGiuaKy], [DiemCuoiKy], [GhiChu]) VALUES (N'HV02', N'LTH0101', 10, 0, 0, 0, N'')
INSERT [dbo].[Diem] ([MaHV], [MaLop], [Diem15p1], [Diem15p2], [DiemGiuaKy], [DiemCuoiKy], [GhiChu]) VALUES (N'HV03', N'LTA0101', 10, 4, 5, 6, N'')
GO
SET IDENTITY_INSERT [dbo].[DiemDanh] ON 

INSERT [dbo].[DiemDanh] ([Id], [MaLop], [MaHV], [NgayDiemDanh], [CoMat], [LyDo]) VALUES (1, N'LTH0101', N'HV02', CAST(N'2025-12-29' AS Date), 1, N'')
INSERT [dbo].[DiemDanh] ([Id], [MaLop], [MaHV], [NgayDiemDanh], [CoMat], [LyDo]) VALUES (2, N'LTH0101', N'HV10', CAST(N'2025-12-29' AS Date), 0, N'suc him')
INSERT [dbo].[DiemDanh] ([Id], [MaLop], [MaHV], [NgayDiemDanh], [CoMat], [LyDo]) VALUES (3, N'LTA0101', N'HV03', CAST(N'2025-12-26' AS Date), 1, N'')
SET IDENTITY_INSERT [dbo].[DiemDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichTaiChinh] ON 

INSERT [dbo].[GiaoDichTaiChinh] ([IdGD], [LoaiGD], [MaDoiTuong], [SoTien], [NgayGD], [NoiDung]) VALUES (1, N'Thu', N'HV02', CAST(100000 AS Decimal(18, 0)), CAST(N'2025-12-29T17:47:59.940' AS DateTime), N'Học phí: Chuyển khoản QR')
SET IDENTITY_INSERT [dbo].[GiaoDichTaiChinh] OFF
GO
INSERT [dbo].[HocVien] ([MaHV], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [NgayGiaNhap], [TrangThai], [GioiTinh]) VALUES (N'HV01', N'Nguyễn Thanh Tùng (Sơn Tùng M-TP)', CAST(N'1994-07-05' AS Date), N'098000001', N'sontung@mtp.vn', N'Thái Bình', CAST(N'2025-12-29T16:58:04.120' AS DateTime), N'Đang học', N'Nam')
INSERT [dbo].[HocVien] ([MaHV], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [NgayGiaNhap], [TrangThai], [GioiTinh]) VALUES (N'HV02', N'Huỳnh Trấn Thành', CAST(N'1987-02-05' AS Date), N'098000002', N'tranthanh@gmail.com', N'TP.HCM', CAST(N'2025-12-29T16:58:04.120' AS DateTime), N'Đang học', N'Nam')
INSERT [dbo].[HocVien] ([MaHV], [HoTen], [NgaySinh], [SDT], [Email], [DiaChi], [NgayGiaNhap], [TrangThai], [GioiTinh]) VALUES (N'HV03', N'Phan Thị Mỹ Tâm', CAST(N'1981-01-16' AS Date), N'098000003', N'mytam@gmail.com', N'Đà Nẵng', CAST(N'2025-12-29T16:58:04.120' AS DateTime), N'Đang học', N'Nữ')
GO
INSERT [dbo].[KyNang] ([MaKyNang], [TenKyNang], [HinhThuc], [SoBuoi], [DonGia], [MoTa], [TrangThai], [ChuyenNganh]) VALUES (N'CUTO', N'khangdz', N'Offline', 12, CAST(300000 AS Decimal(18, 0)), N'hoc cho vuji', N'1', NULL)
INSERT [dbo].[KyNang] ([MaKyNang], [TenKyNang], [HinhThuc], [SoBuoi], [DonGia], [MoTa], [TrangThai], [ChuyenNganh]) VALUES (N'GT01', N'Kỹ Năng Thuyết Trình', N'Offline', 5, CAST(800000 AS Decimal(18, 0)), N'Tự tin trước đám đông', N'1', N'Giao Tiếp')
INSERT [dbo].[KyNang] ([MaKyNang], [TenKyNang], [HinhThuc], [SoBuoi], [DonGia], [MoTa], [TrangThai], [ChuyenNganh]) VALUES (N'GT02', N'Kỹ Năng Đàm Phán', N'Offline', 8, CAST(1200000 AS Decimal(18, 0)), N'Dành cho Sales chuyên nghiệp', N'0', N'Giao Tiếp')
GO
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] ON 

INSERT [dbo].[LichSuDangNhap] ([ID], [TenDangNhap], [TrangThai], [GhiChu], [ThoiGian]) VALUES (1, N'admin', N'Thành công', N'Đăng nhập bằng mật khẩu', CAST(N'2025-12-29T16:58:16.037' AS DateTime))
INSERT [dbo].[LichSuDangNhap] ([ID], [TenDangNhap], [TrangThai], [GhiChu], [ThoiGian]) VALUES (2, N'hv01', N'Thành công', N'Đăng nhập bằng mật khẩu', CAST(N'2025-12-29T16:58:39.547' AS DateTime))
INSERT [dbo].[LichSuDangNhap] ([ID], [TenDangNhap], [TrangThai], [GhiChu], [ThoiGian]) VALUES (3, N'admin', N'Thành công', N'Đăng nhập bằng mật khẩu', CAST(N'2025-12-29T16:58:52.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] OFF
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKyNang], [MaGiaoVien], [MaTroGiang], [MaPhong], [Thu], [CaHoc], [SiSoToiDa], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'LCUTO01', N'khang cac to', N'CUTO', N'GV10', N'TG05', N'P08', N'T6 (Thứ Sáu)', N'Ca 3 (13:30 - 15:30)', 25, CAST(N'2025-12-29' AS Date), NULL, N'Đang tuyển sinh')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKyNang], [MaGiaoVien], [MaTroGiang], [MaPhong], [Thu], [CaHoc], [SiSoToiDa], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'LGT0101', N'Workshop Tự Tin 01', N'GT01', N'GV11', N'TG03', N'P20', N'T7-CN', N'Ca 1 (08:00 - 10:00)', 30, CAST(N'2025-12-26' AS Date), NULL, N'Đang học')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKyNang], [MaGiaoVien], [MaTroGiang], [MaPhong], [Thu], [CaHoc], [SiSoToiDa], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'LTA0101', N'Lớp Tiếng Anh Cấp Tốc 01', N'TA01', N'GV01', N'TG01', N'P01', N'T2-T4-T6', N'Ca Tối 1 (17:45 - 19:15)', 20, CAST(N'2025-12-26' AS Date), NULL, N'Đang học')
GO
INSERT [dbo].[NhanSu] ([MaNS], [HoTen], [LoaiNS], [ChuyenNganh], [SDT], [Email], [TrangThai], [NgaySinh]) VALUES (N'GV01', N'Taylor Swift', N'Giáo viên', N'Tiếng Anh', N'090000001', N'taylor@center.com', N'Đang làm việc', CAST(N'1989-12-13' AS Date))
INSERT [dbo].[NhanSu] ([MaNS], [HoTen], [LoaiNS], [ChuyenNganh], [SDT], [Email], [TrangThai], [NgaySinh]) VALUES (N'GV02', N'Barack Obama', N'Giáo viên', N'Tiếng Anh', N'090000002', N'obama@usa.gov', N'Đang làm việc', CAST(N'1961-08-04' AS Date))
INSERT [dbo].[NhanSu] ([MaNS], [HoTen], [LoaiNS], [ChuyenNganh], [SDT], [Email], [TrangThai], [NgaySinh]) VALUES (N'GV03', N'William Shakespeare', N'Giáo viên', N'Tiếng Anh', N'090000003', N'william@poet.com', N'Đang làm việc', CAST(N'1564-04-26' AS Date))
GO
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong]) VALUES (N'P01', N'Phòng Lý Thuyết 1')
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong]) VALUES (N'P02', N'Phòng Lý Thuyết 2')
INSERT [dbo].[PhongHoc] ([MaPhong], [TenPhong]) VALUES (N'P03', N'Phòng Lý Thuyết 3')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung], [TrangThai], [TenHienThi]) VALUES (N'admin', N'123', N'Admin', N'NV01', N'Hoạt động', N'Tony Stark')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung], [TrangThai], [TenHienThi]) VALUES (N'GV03', N'123', N'GiaoVien', N'GV03', N'Hoạt động', N'Người dùng hệ thống')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [Quyen], [MaNguoiDung], [TrangThai], [TenHienThi]) VALUES (N'GV06', N'khang', N'GiaoVien', N'GV06', N'Hoạt động', N'Người dùng hệ thống')
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([Id], [MaHV], [SoTienDong], [GhiChu], [NgayDong]) VALUES (1, N'HV02', CAST(100000.00 AS Decimal(18, 2)), N'Chuyển khoản QR', CAST(N'2025-12-29T17:47:59.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
ALTER TABLE [dbo].[DangKy] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKy] ADD  DEFAULT ((0)) FOR [HocPhiLop]
GO
ALTER TABLE [dbo].[DangKy] ADD  DEFAULT (N'Đang học') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT ((0)) FOR [Diem15p1]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT ((0)) FOR [Diem15p2]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT ((0)) FOR [DiemGiuaKy]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT ((0)) FOR [DiemCuoiKy]
GO
ALTER TABLE [dbo].[DiemDanh] ADD  DEFAULT ((0)) FOR [CoMat]
GO
ALTER TABLE [dbo].[GiaoDichTaiChinh] ADD  DEFAULT (N'Thu học phí') FOR [LoaiGD]
GO
ALTER TABLE [dbo].[GiaoDichTaiChinh] ADD  DEFAULT (getdate()) FOR [NgayGD]
GO
ALTER TABLE [dbo].[HocVien] ADD  DEFAULT (getdate()) FOR [NgayGiaNhap]
GO
ALTER TABLE [dbo].[KyNang] ADD  DEFAULT (N'Offline') FOR [HinhThuc]
GO
ALTER TABLE [dbo].[KyNang] ADD  DEFAULT ((12)) FOR [SoBuoi]
GO
ALTER TABLE [dbo].[KyNang] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[LichSuDangNhap] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT ((20)) FOR [SiSoToiDa]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[NhanSu] ADD  DEFAULT (getdate()) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('123') FOR [MatKhau]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Người dùng hệ thống') FOR [TenHienThi]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayDong]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DK_HV] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DK_HV]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DK_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DK_Lop]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HV] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HV]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_Lop]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DD_HV] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DD_HV]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DD_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DD_Lop]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_GV] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[NhanSu] ([MaNS])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_Lop_GV]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_KyNang] FOREIGN KEY([MaKyNang])
REFERENCES [dbo].[KyNang] ([MaKyNang])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_Lop_KyNang]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_Lop_Phong]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_TG] FOREIGN KEY([MaTroGiang])
REFERENCES [dbo].[NhanSu] ([MaNS])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_Lop_TG]
GO
